<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Add Post</h1>
    <form method="post" action="/posts" class="post">
        <h2>Usenname : <input name="username" type="text"></h2>
        <!-- <h2>Url : <input name="url" type="text" placeholder="Image Url"></h2> -->
        <h2>Url : <textarea name="url" cols="100" rows="1"></textarea></h2>
        <h2>Likes : <input  name="likes" type="text"></h2>
        <h2>Comment : <input name="comment" type="text"></h2>
        <button>Submit</button>
    </form>
</body>
</html>